.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

.left-container {
    padding-left: 100px;
    padding-top: 20px;
}
.left-container p, .right-container  p {
    font-style: italic;
    font-family: serif; 
    font-size: 18px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-container {
    text-align: center;
    
}
.image-container p {
    font-size: 20px;
}
.image-container h2 {
    color: red;
}

.image-container img {
    height: 200px;
}

.p-container {
    display: block;
    text-align: center;
}

.right-container {
    padding-right: 100px;
}

.right-container h1 {
    margin-bottom: 0;
}

.right-container p {
    margin-top: 0;
}

hr {
    margin-top: 20px;
}

.tech-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;

}

.test {
    transition: transform 1s ease, scale 1s ease;
}

.test:hover {
    transform: scale(1.6);
}

/* 
Project Container */


.project-container {
    display: flex;
    flex-wrap: wrap;
}
.link-container {
    color:black;
}

.project-item {
    flex: 0 0 30%;
    /* 30% width for each item */
    margin: 1%;
    border: 1px solid #ccc;
    padding: 10px;
    /* padding to the items */
    height: 55rem;
}

img {
    transition: transform 1s ease, scale 1s ease;
}

.project-item img {
    width: 100%;
    height: 50%;
}


img:hover {
    transform: scale(1.1);

}

.project-item a {
    text-decoration: none;
    transition: transform 1s ease, scale 1s ease;
    color: green;

}

a:hover {
    color: red;
    cursor: pointer;
}

/* About page */
.about-imagecontainer img{
    width: 250px;
    height: 250px;
    align-items: center;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .project-item {
        flex: 0 0 100%;
        /* Full width for each item on smaller screens */
    }

    .project-item img {
        height: 100%;
        /* Adjust image height on smaller screens */
    }
    .main-container {
        display: block;
    }
    .project-item {
        display: block;
    }
    .project-item img {
        width: auto;
        height:200px;
    }
    .project-item {
        height: auto;
    }
    .right-container {
        padding-top:10px;
        padding-left:100px;
    }
}
